<nav class="container-fluid negro ">
    
    <div class=" ">
        
        <div class=" ">
            <a class="" href="">   
                <figure class="centrar image is-128x128">
                    <img class=" is-rounded" src="https://avatars2.githubusercontent.com/u/13577926?s=460&v=4" width="50" height="50"alt="Brand">
                 
                </figure>
            </a>
           
        </div>
        <div class=" ">
          <a href=""  class="derecha">  
            <h1 class="textoVerde start2p title is-1 "> {{ .Site.Title }}</h1>
          </a>
        </div>
      
    
      </div>

</nav>



    
    