<nav class="navbar negro ">
    <div class="container">
        <div class="navbar-brand ">
          <a class=" " href="">
            <!--img alt="Brand" src="/static/img/logo.jpg"-->
            <img src="https://avatars2.githubusercontent.com/u/13577926?s=460&v=4" width="50" height="50" alt="Brand">
          </a>
        </div>
        <div class=" navbar-menu">
    
        </div>
        <div class="navbar-item">
          <a href="" class="">  
            <h1 class="textoVerde start2p title is-1 "> {{ .Site.Title }}</h1>
          </a>
        </div>
        <div class="">
            <a href="" class="is-success"> 
              <img src="img/mando.png" class="iconsP" alt="">
            </a>
        </div>
    
      </div>

</nav>