<!DOCTYPE html>
<html class=" negro" lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}es-ES{{ end }}">
    <meta charset="utf-8">
    <meta name="viewport" content="witdth=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Fira+Code|Press+Start+2P|Source+Code+Pro&display=swap" rel="stylesheet"> 
   
    <link rel="stylesheet" href="/css/bulma.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    
   
    <body class="grisOscuro">
        <div class="alpie">
            <h1 class="centrar title textoVerde">404</h1> 
            <h1 class="centrar title textoVerde">Home</h1> 
        </div>  
        <div role="main" class="sourceCode section">
            <div class=" columns ">
                <div class="column is-2">
                        
                </div>
                
                <div class="column is-8 " >
                
                    
                    <a class="" href=""> 
                        
                        <figure class="centrar image is-128x128">
                            
                            <img class="bordeVerde" src="/img/coder128.png" width="50" height="50"alt="Brand">
                            
                        </figure>
                    </a>
                    
                    
                
                
                </div>

        </div>
        <div class="alpie"></div>  
    </body>
</html>
